#contact{
    width: 100vw;
    margin-bottom: 10rem;
    background-color: var(--background-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_wrapper {
    width: var(--app-width);
    margin: 3rem 0;


}
.contact_form{
    width: var(--app-width);
}